<script src="http://localhost:8080/socket.io/socket.io.js"></script>
<script src="test.js"></script>

<textarea rows="20" cols="100" name="chatwindow"></textarea>
<form name="message" action="javascript:submitForm();">
Nick: <input type="text" name="user" value="user1" />
<br />
Text: <input type="text" name="messageText" />
<br />
<input type="submit" />
</form>
